<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          <div class="user-name">Hello~ Welcome!</div>
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">email</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">password</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="my-profile" href="/user" class="btn">User</a>
            <!-- <a id="join" href="/join" class="btn">signup</a>
            <button id="login" type="submit" class="btn">login</button>
            <a id="kakao" href="/auth/kakao" class="btn">kakao talk</a> -->
          </form>
        </div>
        <footer>
          Made by&nbsp;
          <a href="https://www.queue-it.com" target="_blank">Queue-it</a>
        </footer>
      </div>
    </div>
  </body>
</html>
